// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// === / fonts
// --- mixins
// === / mixins
// --- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Cormorant', serif;
    font-size: 18px;
    font-weight: bold;
    // -webkit-text-stroke: 0.02em inherit;
    // letter-spacing: 0.05em;
    color: #21252E;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .container {
        max-width: 1290px;
    }
    .brand_btn {
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        font-size: 25px;
        min-width: 220px;
        margin-top: 40px;
        font-weight: bold;
        &__main {
            padding: 4px;
            background: #FAD984;
            color: #21252E;
            -webkit-text-stroke-width: 0.02em;
            -webkit-text-stroke-color: inherit;
            &:hover {
                color: #21252E;
            }
        }
        &__second {
            padding: 3px;
            border: 1px solid #FAD984;
        }
    }
    .section_title {
        -webkit-text-stroke: 0.01em;
        font-size: 37px;
        line-height: 1;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        &__inner_wrap {}
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 13px;
            display: block;
            width: 100%;
            border-bottom: 2px solid #FAD984;
        }
    }
    &.menu_active {
        @media (max-width: $screen_md_max) {
            overflow-y: hidden;
        }
        .toggle_button {
            .toggle_item__top {
                transform: translateY(-10px);
                opacity: 0;
            }
            .toggle_item__bot {
                opacity: 0;
                transform: translateY(10px);
            }
            .toggle_item__mid {
                transform: rotate(45deg);
                &::before {
                    transform: rotate(-90deg);
                }
            }
        }
        .menu {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
    @media (min-width: $screen_xl) {
        .section_title__inner_wrap {
            display: inline;
            background-color: #fff;
            padding: 0 15px;
        }
    }
    @media (min-width: $screen_sm) {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .section_title {
            font-size: 48px;
            margin-bottom: 75px;
            &::before {
                bottom: 18px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .section_title {
            span {
                display: inline;
                text-align: center;
                position: relative;
                background-color: #fff;
                z-index: 1;
                // margin-left: 15px;
                padding: 0 15px;
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

section {
    overflow: hidden;
}

@media (min-width: $screen_sm) {
    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: $screen_xs_max) {
    section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

// --- header
.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    .logo {
        -webkit-text-stroke: 0.01em;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 34px;
        color: #FAD984;
        // opacity: 0.8;
        display: flex;
        align-items: center;
        .logo_image {
            width: 80px;
        }
    }
    .header_contacts {
        .phone_numbers_item {
            display: block;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            opacity: 0.8;
            font-size: 22px;
        }
        .brand_btn {
            margin-top: 0;
            min-width: 250px;
        }
    }
    .toggle_button {
        cursor: pointer;
        z-index: 101;
        height: 27px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
            transform: scale(2);
            transition: .3s;
        }
        &:active {
            &::before {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .toggle_item {
            height: 3px;
            width: 100%;
            border-radius: 3px;
            background-color: #FAD984;
            transition: .3s;
        }
        .toggle_item__mid {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background-color: #FAD984;
                transition: .3s;
            }
        }
    }
    .menu {
        padding: 20px 50px;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: darken($color: #21252E, $amount: 3%);
        backdrop-filter: blur(4px);
        visibility: hidden;
        opacity: 0;
        transform: translateX(400px);
        transition: .5s;
        ul {
            display: flex;
            flex-direction: column;
            li+li {
                margin-top: 15px;
            }
            a {
                font-size: 24px;
            }
            .active {
                color: #FAD984;
            }
        }
    }
    @media (min-width: $screen_xl) {
        padding-top: 33px;
        .menu {
            padding: 100px;
            display: flex;
            align-items: center;
            ul {
                border-bottom: 2px solid #fad984;
                border-top: 2px solid #fad984;
                padding: 60px 0;
            }
        }
        .toggle_button {
            position: fixed;
            top: 59px;
            right: 100px;
        }
        .toggle_button {
            &::before {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    @media (min-width: $screen_xl) and (max-width: 1440px) {
        .toggle_button {
            right: 30px;
        }
    }
    @media (min-width: $screen_sm) {
        .menu ul a {
            font-size: 42px;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
        padding-top: 50px;
        .menu {
            padding: 50px 30px;
        }
    }
    @media (max-width: $screen_md_max) {
        padding-top: 40px;
        .menu {
            padding: 40px;
            // position: fixed;
            // top: 0;
            // right: 0;
            width: 100%;
            // height: 100%;
            background-color: rgba($color: #21252E, $alpha: .85);
            // backdrop-filter: blur(4px);
            // visibility: hidden;
            // opacity: 0;
            transition: .3s;
            ul {
                margin-top: 100px;
                //     display: flex;
                //     flex-direction: column;
                align-items: center;
                //     li+li {
                //         margin-top: 15px;
                //     }
                //     a {
                //         font-size: 24px;
                //     }
            }
        }
    }
}

// === / header
// --- section_intro
.section_intro {
    min-height: 100vh;
    padding: 0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        // background: linear-gradient(180deg, rgba(33, 37, 46, 0), rgb(0, 0, 0));
        background: linear-gradient(180deg, rgba(33, 37, 46, 0.2), rgba(33, 37, 46, 1));
        z-index: -1;
    }
    .intro_image {
        position: absolute;
        z-index: -1;
    }
    .intro_text {
        display: flex;
        flex-direction: column;
        padding: 120px 0;
    }
    .text_box {
        font-weight: 700;
        font-size: 37px;
        // -webkit-text-stroke: 0.01em;
        letter-spacing: 1px;
        line-height: 1.3;
        color: #fff;
        margin-bottom: 20px;
        text-shadow: 1px 1px 2px black;
        /* Параметры тени */
    }
    .intro_button {
        text-align: center;
        padding-top: 20px;
        a {
            min-width: 250px;
            margin: 0;
        }
    }
    @media (min-width: $screen_xl) {
        .text_box {
            margin-top: 50%;
            font-size: 64px;
        }
    }
    @media (min-width: $screen_lg) {
        .intro_image {
            width: 100%;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .text_box {
            margin-top: 50%;
            font-size: 64px;
        }
    }
    @media (max-width: $screen_md_max) {
        .intro_image {
            height: 100%;
        }
    }
    @media (max-width: $screen_xs_max) {
        .intro_text {
            min-height: 100vh;
            justify-content: flex-end;
        }
    }
}

// === / section_intro
// --- section_promo
.section_promo {
    padding-bottom: 0;
    .promo_list {
        -webkit-text-stroke: 0.01em;
        li {
            margin-top: 10px;
            font-size: 20px;
            &::before {
                content: "";
                display: inline-block;
                background-image: url(../img/svg/marker.svg);
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
                position: relative;
                top: 6px;
                margin-right: 20px;
            }
        }
    }
    .promo_text_wrap {
        background-color: #21252E;
        padding-top: 75px;
        padding-bottom: 65px;
        margin-top: 75px;
        .image_wrap {
            position: relative;
            margin-top: 8px;
            margin-right: 8px;
            .promo_image {
                width: 100%;
                position: relative;
                z-index: 1;
            }
            &::before {
                content: "";
                position: absolute;
                top: -8px;
                left: 8px;
                width: 100%;
                height: 100%;
                border: 1px solid #FEFFF8;
            }
        }
        .text_box {
            color: #fff;
            &__1 {
                font-size: 20px;
            }
            &__2 {
                opacity: 0.8;
                font-weight: 600;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .promo_text_wrap {
            background-color: #fff;
        }
    }
    @media (min-width: $screen_lg) {
        .promo_text_wrap {
            // background-color: #fff;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 78%;
                background-color: #21252E;
            }
            .text_box {
                padding: 0 50px;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .text_box {
            margin-top: 75px;
        }
    }
    @media (min-width: $screen_sm) {
        .section_title {
            margin-bottom: 10px;
        }
        .promo_list li {
            margin-top: 40px;
        }
        .promo_text_wrap {
            margin-top: 100px;
            padding: 100px 0;
            .text_box {
                .text_box__1 {
                    font-size: 24px;
                }
            }
        }
    }
}

// === / section_promo
// --- section_steps
.section_steps {
    .step_title,
    .text_box {
        -webkit-text-stroke: 0.01em;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .step_title {
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .image_wrap {
        position: relative;
        margin-right: 9px;
        .step_image {
            width: 100%;
            position: relative;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 8px;
            left: 9px;
            width: 100%;
            height: 100%;
            border: 1px solid #21252E;
        }
    }
    .steps_arrow {
        text-align: center;
        margin-top: 38px;
    }
    @media (min-width: $screen_lg) {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
        .steps_item_wrap {
            padding: 0 30px;
        }
        .text_box {
            margin-bottom: 50px;
        }
        .steps_item {
            display: flex;
            flex-direction: column-reverse;
            // padding: 15px;
            .steps_arrow {
                position: absolute;
                top: 30%;
                right: -7px;
                transform: rotate(-90deg);
            }
        }
    }
    @media (min-width: $screen_sm) {
        .text_box {
            font-size: 24px;
        }
    }
}

// === / section_steps
// --- section_invitation
.section_invitation {
    background-color: #21252E;
    .image_wrap {
        position: relative;
        margin-left: 8px;
        margin-top: 8px;
        .invitation_image {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        &::before {
            content: "";
            position: absolute;
            top: -8px;
            right: 8px;
            width: 100%;
            height: 100%;
            border: 1px solid #FEFFF8;
        }
    }
    .invitation_title {
        margin-bottom: 30px;
        color: #fff;
        font-size: 25px;
    }
    .text_box {
        color: #fff;
        opacity: 0.8;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .phone_numbers {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        a+a {
            margin-left: 10px;
        }
        a {
            color: rgba(250, 217, 132, 1);
        }
    }
    @media (min-width: $screen_xl) {
        background-color: #fff;
    }
    @media (min-width: $screen_lg) {
        // background-color: #fff;
        .invitation_wrap {
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 73%;
            background-color: #21252E;
        }
    }
    @media (min-width: $screen_sm) {
        .invitation_title {
            font-size: 36px;
        }
    }
    @media (max-width: $screen_md_max) {
        .invitation_wrap {
            justify-content: center;
        }
        .invitation_title {
            margin-top: 65px;
        }
        .invitation_title {
            text-align: center;
        }
        .phone_numbers {
            text-align: center;
        }
        .invitation_button {
            text-align: center;
        }
    }
}

// === / section_invitation
// --- section_conditions
.section_conditions {
    background: #F6F6F6;
    .image_wrap {
        position: relative;
        margin-right: 8px;
        margin-bottom: 8px;
        .conditions_image {
            width: 100%;
            position: relative;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 8px;
            left: 8px;
            width: 100%;
            height: 100%;
            border: 1px solid #21252E;
        }
    }
    .conditions_title {
        -webkit-text-stroke: 0.01em;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 25px;
    }
    .text_box {
        -webkit-text-stroke: 0.01em;
    }
    @media (max-width: $screen_md_max) {
        .conditions_title {
            text-align: center;
            margin-top: 75px;
        }
    }
    @media (min-width: $screen_sm) {
        .conditions_title {
            font-size: 36px;
        }
    }
}

// === / section_conditions
// --- section_feedback
.section_feedback {
    .section_title {
        span {
            background-color: #fff;
            padding: 0 15px;
        }
    }
    .feedback_wrap {
        padding: 0 30px;
        .feedback_response {
            position: absolute;
            left: 0;
            font-size: 24px;
            padding: 30px;
            height: 490px;
            display: flex;
            text-align: center;
            align-items: center;
            -webkit-text-stroke-width: 0.02em;
            opacity: 0;
            visibility: hidden;
            color: #21252E;
            transition-delay: .8s;
            transition-duration: .3s;
        }
        .feedback_form {
            input {
                padding: 0;
                border: none;
                outline: none;
            }
            input+input {
                margin-top: 40px;
            }
            button {
                outline: none;
                border: none;
                min-width: 275px;
            }
            .input {
                -webkit-text-stroke: 0.01em;
                padding-bottom: 6px;
                width: 100%;
                border-bottom: 1px solid rgba(64, 63, 63, 0.4);
            }
            .form_button {
                text-align: center;
            }
        }
        &.form_send {
            .feedback_form {
                opacity: 0;
                visibility: hidden;
            }
            .feedback_response {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .section_title {
            margin-bottom: 50px;
        }
    }
    @media (min-width: $screen_sm) {
        .feedback_form button {
            margin-top: 60px;
        }
    }
}

// === / section_feedback
// --- section_advantages
.section_advantages {
    .section_title {
        margin-bottom: 75px;
    }
    .advantages_item {
        .advantages_title {
            position: relative;
            margin-bottom: 10px;
        }
        .advantages_description {
            font-weight: 600;
        }
    }
    .slick-slide {
        outline: none;
    }
    .advantages_text {
        font-size: 24px;
        margin-top: 75px;
        padding: 75px 0;
        background: #FAD984;
        -webkit-text-stroke: 0.01em;
    }
    .slick-track {
        left: 30px;
    }
    @media (min-width: $screen_lg) {
        .advantages_item {
            margin-top: 50px;
            -webkit-text-stroke: 0.01em;
            .advantages_title {
                font-size: 24px;
                position: relative;
                margin-bottom: 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 0;
                    display: inline-block;
                    height: 2px;
                    width: 20%;
                    background-color: #FAD984;
                }
            }
            .advantages_description {
                font-size: 20px;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        padding: 0;
        .advantages_item {
            border-radius: 5px;
            background-color: #21252E;
            margin: 0 10px;
            padding: 50px 40px;
            min-height: 340px;
            max-width: 275px;
            .advantages_title {
                text-align: center;
                color: #fff;
                font-size: 20px;
                // position: relative;
                margin-bottom: 10px;
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    margin-left: -15%;
                    display: inline-block;
                    height: 2px;
                    width: 30%;
                    background-color: #FAD984;
                }
            }
            .advantages_description {
                text-align: center;
                color: #fff;
                opacity: 0.8;
                font-size: 18px;
            }
        }
    }
    @media (min-width: $screen_sm) {
        .advantages_text {
            margin-top: 100px;
        }
    }
}

// === / section_advantages
// --- section_faq
.section_faq {
    .section_title {
        margin-bottom: 50px;
    }
    .accordion .card {
        border: none;
        .card-header {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            margin-bottom: 0px;
            border-bottom: 1px solid #FAD984;
            padding-left: 0;
            -webkit-text-stroke-width: 0.01em;
            line-height: 1.2;
            padding-right: 40px;
            position: relative;
            background-image: url(../img/svg/minus.svg);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: 16px;
            transition: .3s;
            cursor: pointer;
            &.collapsed {
                background-image: url(../img/svg/plus.svg);
            }
        }
        .card-body {
            opacity: .8;
        }
    }
}

// === / section_faq
// --- section_footer
.section_footer {
    padding-bottom: 0;
    background: #21252E;
    .section_title {
        color: #fff;
        span {
            padding: 0 15px;
            position: relative;
            background-color: #21252E;
            z-index: 2;
        }
        &::before {
            z-index: 1;
        }
    }
    .contacts_list {
        font-family: 'Open Sans', sans-serif;
        opacity: 0.8;
        font-weight: 400;
        li+li {
            margin-top: 20px;
        }
        img {
            margin-right: 20px;
        }
    }
    .callback_title {
        font-size: 24px;
        color: #FFFDF8;
        text-align: center;
        text-transform: uppercase;
    }
    .callback_wrap {
        .callback_form {
            display: flex;
            flex-direction: column;
            transition: .3s;
            input+input {
                margin-top: 20px;
            }
            input {
                border: none;
                outline: none;
                border-radius: 5px;
                padding: 4px 14px;
            }
            button {
                border: none;
                outline: none;
                padding: 3px;
            }
        }
        .callback_response {
            position: absolute;
            left: 0;
            font-size: 24px;
            padding: 30px;
            height: 170px;
            display: flex;
            text-align: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            color: #fff;
            transition-delay: .8s;
            transition-duration: .3s;
        }
        &.form_send {
            .callback_form {
                opacity: 0;
                visibility: hidden;
            }
            .callback_response {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    hr {
        height: 2px;
        background-color: #FAD984;
    }
    .footer_text {
        text-align: center;
        font-size: 24px;
        opacity: 0.8;
        color: #FAD984;
        margin: 35px 0;
    }
    .social_board {
        opacity: 0.8;
        display: flex;
        li+li {
            margin-left: 30px;
        }
    }
    @media (min-width: $screen_lg) {
        .callback_title {
            margin-bottom: 20px;
        }
        .social_board {
            margin-top: 40px;
            margin-bottom: 75px;
            opacity: 0.8;
            display: flex;
            justify-content: flex-start;
        }
    }
    @media (max-width: $screen_md_max) {
        .callback_title {
            margin-top: 75px;
            margin-bottom: 50px;
        }
        .social_board {
            margin-top: 75px;
            margin-bottom: 75px;
            display: flex;
            justify-content: center;
        }
    }
}

// === / section_footer