@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #21252E; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .container {
    max-width: 1290px; }
  .body .brand_btn {
    font-family: 'Spectral', serif;
    font-weight: 600;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    min-width: 220px;
    margin-top: 40px; }
    .body .brand_btn__main {
      padding: 4px;
      background: #FAD984;
      color: #21252E; }
      .body .brand_btn__main:hover {
        color: #21252E; }
    .body .brand_btn__second {
      padding: 3px;
      border: 1px solid #FAD984; }
  .body .section_title {
    font-family: 'Spectral', serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 1.3;
    text-align: center;
    position: relative;
    margin-bottom: 50px; }
    .body .section_title::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 26px;
      display: block;
      width: 100%;
      border-bottom: 2px solid #FAD984; }
  @media (max-width: 991px) {
    .body.menu_active {
      overflow-y: hidden; } }
  .body.menu_active .toggle_button .toggle_item__top {
    transform: translateY(-10px);
    opacity: 0; }
  .body.menu_active .toggle_button .toggle_item__bot {
    opacity: 0;
    transform: translateY(10px); }
  .body.menu_active .toggle_button .toggle_item__mid {
    transform: rotate(45deg); }
    .body.menu_active .toggle_button .toggle_item__mid::before {
      transform: rotate(-90deg); }
  .body.menu_active .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  @media (min-width: 1200px) {
    .body .social_link img {
      width: 40px; }
    .body .section_title__inner_wrap {
      display: inline;
      background-color: #fff;
      padding: 0 15px; } }
  @media (min-width: 576px) {
    .body .container {
      padding-left: 30px;
      padding-right: 30px; }
    .body .section_title {
      font-size: 48px;
      margin-bottom: 75px; }
      .body .section_title::before {
        bottom: 26px; } }
  @media (max-width: 1199px) {
    .body .social_link img {
      width: 30px; }
    .body .section_title span {
      display: inline;
      text-align: center;
      position: relative;
      background-color: #fff;
      z-index: 1;
      padding: 0 15px; } }
  @media (max-width: 575px) {
    .body .container {
      padding-left: 20px;
      padding-right: 20px; } }

section {
  overflow: hidden; }

@media (min-width: 576px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px; } }

@media (max-width: 575px) {
  section {
    padding-top: 75px;
    padding-bottom: 75px; } }

.header {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .header .logo {
    font-family: 'Spectral', serif;
    font-weight: 500;
    font-size: 34px;
    color: #FAD984;
    display: flex;
    align-items: center; }
    .header .logo .logo_image {
      width: 80px; }
  .header .header_contacts a + a {
    margin-left: 10px; }
  .header .header_contacts .brand_btn {
    margin-top: 0;
    min-width: 250px; }
  .header .toggle_button {
    cursor: pointer;
    z-index: 101;
    height: 27px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .header .toggle_button::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: -1;
      transform: scale(2);
      transition: .3s; }
    .header .toggle_button:active::before {
      background-color: rgba(255, 255, 255, 0.1); }
    .header .toggle_button .toggle_item {
      height: 2px;
      width: 100%;
      border-radius: 2px;
      background-color: #FAD984;
      transition: .3s; }
    .header .toggle_button .toggle_item__mid {
      position: relative; }
      .header .toggle_button .toggle_item__mid::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: #FAD984;
        transition: .3s; }
  .header .menu {
    padding: 20px 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #1b1e25;
    backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    transform: translateX(400px);
    transition: .5s; }
    .header .menu ul {
      display: flex;
      flex-direction: column; }
      .header .menu ul li + li {
        margin-top: 15px; }
      .header .menu ul a {
        font-family: 'Spectral', serif;
        font-size: 24px;
        font-weight: 500;
        white-space: nowrap;
        transition: .3s; }
        .header .menu ul a:hover {
          color: #fad984; }
      .header .menu ul .active {
        color: #FAD984; }
  @media (min-width: 992px) {
    .header {
      padding-top: 33px; }
      .header .menu {
        padding: 100px 80px;
        display: flex;
        align-items: center; }
        .header .menu ul {
          border-bottom: 2px solid #fad984;
          border-top: 2px solid #fad984;
          padding: 60px 0; }
      .header .toggle_button {
        position: fixed;
        top: 59px;
        right: 100px; }
      .header .toggle_button::before {
        background-color: rgba(0, 0, 0, 0.1); } }
  @media (min-width: 1200px) and (max-width: 1440px) {
    .header .toggle_button {
      right: 30px; } }
  @media (min-width: 576px) {
    .header .menu ul a {
      font-size: 37px; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .header {
      padding-top: 50px; }
      .header .menu {
        padding: 50px 30px; } }
  @media (max-width: 991px) {
    .header {
      padding-top: 40px; }
      .header .menu {
        padding: 40px;
        width: 100%;
        background-color: rgba(33, 37, 46, 0.85);
        transition: .3s; }
        .header .menu ul {
          margin-top: 100px;
          align-items: center; } }

.section_intro {
  padding: 0;
  position: relative; }
  .section_intro::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(33, 37, 46, 0.2), #21252e);
    z-index: -1; }
  .section_intro .intro_image {
    position: absolute;
    z-index: -1; }
  .section_intro .intro_text {
    display: flex;
    flex-direction: column; }
    .section_intro .intro_text .text_box {
      font-size: 42px;
      line-height: 1.3;
      color: #fff;
      margin-bottom: 20px; }
    .section_intro .intro_text .text_bottom {
      opacity: 0.8;
      font-size: 22px;
      color: #fff; }
    .section_intro .intro_text .intro_button {
      text-align: center;
      padding-top: 20px; }
      .section_intro .intro_text .intro_button a {
        min-width: 250px;
        margin: 0; }
  @media (min-width: 1200px) {
    .section_intro {
      min-height: 100vh; }
      .section_intro .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 100px; }
      .section_intro .phone_numbers_item {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.9; }
      .section_intro .text_box {
        margin-top: 40%;
        font-size: 64px; } }
  @media (min-width: 992px) {
    .section_intro .intro_text {
      padding: 120px 0 50px; }
    .section_intro .intro_image {
      width: 100%; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_intro .text_box {
      margin-top: 20%;
      font-size: 64px; } }
  @media (max-width: 991px) {
    .section_intro .intro_text {
      padding: 120px 0; }
    .section_intro .intro_image {
      height: 100%; } }
  @media (max-width: 991px) {
    .section_intro .intro_text {
      min-height: 100vh;
      justify-content: flex-end; } }

.section_promo {
  padding-bottom: 0; }
  .section_promo .section_title__inner_wrap {
    background-color: #21252E;
    color: #fff; }
  .section_promo .section_title span {
    position: relative;
    background-color: #21252E;
    z-index: 1;
    padding: 0 15px; }
  .section_promo .section_title::before {
    z-index: 0; }
  .section_promo .text_box {
    color: #21252E;
    font-size: 20px; }
    .section_promo .text_box hr {
      text-align: center;
      height: 2px;
      background-color: #FAD984;
      border-radius: 3px;
      border: none;
      width: 150px; }
  .section_promo .promo_list li {
    margin-top: 10px;
    font-size: 20px;
    color: #fff; }
    .section_promo .promo_list li::before {
      content: "";
      display: inline-block;
      background-image: url(../img/svg/marker.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      position: relative;
      top: 6px;
      margin-right: 20px; }
  .section_promo .promo_text_wrap {
    background-color: #21252E;
    padding-top: 75px;
    padding-bottom: 65px;
    margin-top: 75px; }
    .section_promo .promo_text_wrap .image_wrap {
      position: relative;
      margin-top: 8px;
      margin-right: 8px; }
      .section_promo .promo_text_wrap .image_wrap .promo_image {
        width: 100%;
        position: relative;
        z-index: 1; }
      .section_promo .promo_text_wrap .image_wrap::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 8px;
        width: 100%;
        height: 100%;
        border: 1px solid #FEFFF8; }
  @media (min-width: 1200px) {
    .section_promo .promo_text_wrap {
      background-color: #fff; } }
  @media (min-width: 992px) {
    .section_promo .promo_text_wrap {
      position: relative; }
      .section_promo .promo_text_wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 79%;
        background-color: #21252E; }
      .section_promo .promo_text_wrap .text_box {
        padding: 0 50px; } }
  @media (min-width: 576px) {
    .section_promo .section_title {
      margin-bottom: 10px; }
    .section_promo .promo_list li {
      width: 330px;
      margin-top: 20px; } }

.section_steps .step_title,
.section_steps .text_box {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; }

.section_steps .step_title {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px; }

.section_steps .image_wrap {
  position: relative;
  margin-right: 9px; }
  .section_steps .image_wrap .step_image {
    width: 100%;
    position: relative; }
  .section_steps .image_wrap::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    width: 100%;
    height: 100%;
    border: 1px solid #21252E; }

.section_steps .steps_arrow {
  text-align: center;
  margin-top: 38px; }

@media (min-width: 992px) {
  .section_steps .container {
    padding-left: 15px;
    padding-right: 15px; }
  .section_steps .steps_item_wrap {
    padding: 0 30px; }
  .section_steps .text_box {
    margin-bottom: 50px; }
  .section_steps .steps_item {
    display: flex;
    flex-direction: column-reverse; }
    .section_steps .steps_item .steps_arrow {
      position: absolute;
      top: 30%;
      right: -7px;
      transform: rotate(-90deg); } }

@media (min-width: 576px) {
  .section_steps .text_box {
    font-size: 24px; } }

.section_invitation {
  background-color: #21252E; }
  .section_invitation .image_wrap {
    position: relative;
    margin-left: 8px;
    margin-top: 8px; }
    .section_invitation .image_wrap .invitation_image {
      width: 100%;
      position: relative;
      z-index: 1; }
    .section_invitation .image_wrap::before {
      content: "";
      position: absolute;
      top: -8px;
      right: 8px;
      width: 100%;
      height: 100%;
      border: 1px solid #FEFFF8; }
  .section_invitation .invitation_title {
    font-family: 'Spectral', serif;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
    font-size: 25px; }
  .section_invitation .text_box {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 30px; }
  .section_invitation .phone_numbers a + a {
    margin-left: 10px; }
  .section_invitation .phone_numbers a {
    color: #fad984; }
  @media (min-width: 1200px) {
    .section_invitation {
      background-color: #fff; } }
  @media (min-width: 992px) {
    .section_invitation {
      position: relative; }
      .section_invitation .invitation_wrap {
        justify-content: space-between;
        flex-direction: row-reverse; }
      .section_invitation::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 78%;
        background-color: #21252E; } }
  @media (min-width: 576px) {
    .section_invitation .invitation_title {
      font-size: 36px; } }
  @media (max-width: 991px) {
    .section_invitation .invitation_wrap {
      justify-content: center; }
    .section_invitation .invitation_title {
      margin-top: 65px; }
    .section_invitation .invitation_title {
      text-align: center; }
    .section_invitation .phone_numbers {
      text-align: center; }
    .section_invitation .invitation_button {
      text-align: center; } }

.section_conditions {
  background: #F6F6F6; }
  .section_conditions .image_wrap {
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px; }
    .section_conditions .image_wrap .conditions_image {
      width: 100%;
      position: relative; }
    .section_conditions .image_wrap::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 8px;
      width: 100%;
      height: 100%;
      border: 1px solid #21252E; }
  .section_conditions .conditions_title {
    font-family: 'Spectral', serif;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 25px; }
  .section_conditions .text_box li {
    margin-top: 10px;
    padding-left: 35px;
    position: relative; }
    .section_conditions .text_box li::before {
      content: "";
      display: inline-block;
      background-image: url(../img/svg/marker.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 1;
      top: 4px;
      left: 0px; }
  @media (max-width: 991px) {
    .section_conditions .conditions_title {
      text-align: center;
      margin-top: 75px; } }
  @media (min-width: 576px) {
    .section_conditions .conditions_title {
      font-size: 36px; } }

.section_feedback .section_title span {
  background-color: #fff;
  padding: 0 15px; }

.section_feedback .ajax_form_1_wrap {
  padding: 0 30px;
  position: relative; }
  .section_feedback .ajax_form_1_wrap .form_response {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 20px;
    padding: 30px;
    height: 490px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    color: #21252E;
    transition-delay: .8s;
    transition-duration: .8s; }
  .section_feedback .ajax_form_1_wrap .feedback_form input {
    padding: 0;
    border: none;
    outline: none; }
  .section_feedback .ajax_form_1_wrap .feedback_form input + input {
    margin-top: 40px; }
  .section_feedback .ajax_form_1_wrap .feedback_form button {
    outline: none;
    border: none;
    min-width: 275px; }
  .section_feedback .ajax_form_1_wrap .feedback_form .input {
    padding-bottom: 6px;
    width: 100%;
    border-bottom: 1px solid rgba(64, 63, 63, 0.4); }
  .section_feedback .ajax_form_1_wrap .feedback_form .form_button {
    text-align: center; }
  .section_feedback .ajax_form_1_wrap.form_send .feedback_form {
    opacity: 0;
    visibility: hidden; }
  .section_feedback .ajax_form_1_wrap.form_send .form_response {
    opacity: 1;
    visibility: visible; }

@media (max-width: 991px) {
  .section_feedback .section_title {
    margin-bottom: 50px; } }

@media (min-width: 576px) {
  .section_feedback .feedback_form button {
    margin-top: 60px; } }

.section_advantages .section_title {
  margin-bottom: 75px; }

.section_advantages .advantages_item .advantages_title {
  position: relative;
  margin-bottom: 10px;
  font-family: 'Spectral', serif;
  font-weight: 600; }

.section_advantages .slick-slide {
  outline: none; }

.section_advantages .advantages_text {
  font-size: 24px;
  margin-top: 75px;
  padding: 75px 0;
  background: #FAD984; }

.section_advantages .slick-track {
  left: 30px; }

@media (min-width: 992px) {
  .section_advantages .advantages_item {
    margin-top: 60px; }
    .section_advantages .advantages_item .advantages_title {
      font-size: 25px;
      position: relative;
      margin-bottom: 10px; }
      .section_advantages .advantages_item .advantages_title::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        display: inline-block;
        height: 2px;
        width: 15%;
        background-color: #FAD984; }
    .section_advantages .advantages_item .advantages_description {
      font-size: 18px;
      line-height: 1.3; } }

@media (max-width: 991px) {
  .section_advantages {
    padding: 0; }
    .section_advantages .advantages_item {
      border-radius: 5px;
      background-color: #21252E;
      margin: 0 10px;
      padding: 50px 40px;
      min-height: 390px;
      max-width: 275px; }
      .section_advantages .advantages_item .advantages_title {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px; }
        .section_advantages .advantages_item .advantages_title::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -15%;
          display: inline-block;
          height: 2px;
          width: 30%;
          background-color: #FAD984; }
      .section_advantages .advantages_item .advantages_description {
        text-align: center;
        color: #fff;
        opacity: 0.8;
        font-size: 18px; } }

@media (min-width: 576px) {
  .section_advantages .advantages_text {
    margin-top: 100px; } }

.section_faq .section_title {
  margin-bottom: 50px; }

.section_faq .accordion .card {
  border: none; }
  .section_faq .accordion .card .card-header {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0px;
    border-bottom: 1px solid #FAD984;
    padding: 25px 40px 15px 0;
    line-height: 1.2;
    position: relative;
    background-image: url(../img/svg/minus.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 16px;
    transition: .3s;
    cursor: pointer; }
    .section_faq .accordion .card .card-header.collapsed {
      background-image: url(../img/svg/plus.svg); }
  .section_faq .accordion .card .card-body {
    opacity: .8; }
  .section_faq .accordion .card .card_title span {
    font-family: 'Open Sans', sans-serif; }

.section_footer {
  padding-bottom: 0;
  background: #21252E; }
  .section_footer .section_title {
    color: #fff; }
    .section_footer .section_title span {
      padding: 0 15px;
      position: relative;
      background-color: #21252E;
      z-index: 2; }
    .section_footer .section_title::before {
      z-index: 1; }
  .section_footer .contacts_list {
    opacity: 0.8; }
    .section_footer .contacts_list li + li {
      margin-top: 20px; }
    .section_footer .contacts_list img {
      margin-right: 20px; }
  .section_footer .callback_title {
    font-size: 24px;
    color: #FFFDF8;
    text-align: center;
    text-transform: uppercase; }
  .section_footer .ajax_form_2_wrap .callback_form {
    display: flex;
    flex-direction: column;
    transition: .3s; }
    .section_footer .ajax_form_2_wrap .callback_form input + input {
      margin-top: 20px; }
    .section_footer .ajax_form_2_wrap .callback_form input {
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 4px 14px; }
    .section_footer .ajax_form_2_wrap .callback_form button {
      border: none;
      outline: none;
      padding: 3px; }
  .section_footer .ajax_form_2_wrap .form_response {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 20px;
    padding: 30px;
    height: 170px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    transition-delay: .8s;
    transition-duration: .8s; }
  .section_footer .ajax_form_2_wrap.form_send .callback_form {
    opacity: 0;
    visibility: hidden; }
  .section_footer .ajax_form_2_wrap.form_send .form_response {
    opacity: 1;
    visibility: visible; }
  .section_footer hr {
    height: 2px;
    background-color: #FAD984; }
  .section_footer .footer_text {
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
    color: #FAD984;
    margin: 35px 0; }
  .section_footer .social_board {
    opacity: 0.8;
    display: flex; }
    .section_footer .social_board li + li {
      margin-left: 30px; }
  @media (min-width: 992px) {
    .section_footer .callback_title {
      margin-bottom: 35px; }
    .section_footer .social_board {
      margin-top: 20px;
      margin-bottom: 75px;
      opacity: 0.8;
      display: flex;
      justify-content: flex-start; } }
  @media (max-width: 991px) {
    .section_footer .callback_title {
      margin-top: 75px;
      margin-bottom: 50px; }
    .section_footer .social_board {
      margin-top: 75px;
      margin-bottom: 75px;
      display: flex;
      justify-content: center; } }
